In [7]:
import pandas as pd

In [8]:
#Read the data into a DataFrame
crowdfunding_data =pd.ExcelFile("crowdfunding.xlsx")

# Get the sheet names so we can read each sheet into its own DataFrame
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [16]:
# Read each sheet into its own DataFram
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')

# Note the contact sheet has information at the top and a lot of info in column 2.
# Expand the column width
pd.set_option('max_colwidth', 400)

#Since the column header is labeled at row index 2, set the header = 3 so the first row of data is index 0
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name = 'contact_info', header = 3)

In [17]:
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [18]:
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [ ]:
#Data has now been extracted into DataFrames

In [19]:
#check the tails
crowdfunding_info_df.tail()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [20]:
contact_info_df.tail()

                                                                                                  contact_info
995                   {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
996             {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
997  {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
998                       {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
999                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [21]:
#both data sets end at index 999

In [22]:
#Sample randomly some data in the middle
crowdfunding_info_df.sample(n=10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
857,499,"Miranda, Gray and Hale",Programmable disintermediate matrices,5300,7413,successful,225,CH,CHF,1630299600,1638511200,True,False,film & video/shorts
131,1106,"Fleming, Zhang and Henderson",Distributed 5thgeneration implementation,164700,166116,successful,2443,GB,GBP,1626498000,1642485600,False,False,technology/web
309,2545,Harris-Perry,User-centric 6thgeneration attitude,4100,3087,canceled,75,US,USD,1614924000,1627275600,False,True,music/indie rock
653,3169,Williams-Jones,Monitored incremental info-mediaries,600,14033,successful,234,US,USD,1588741200,1622437200,False,False,technology/web
833,1093,"Levine, Martin and Hernandez",Expanded asynchronous groupware,6800,10723,successful,165,DK,DKK,1612159200,1622264400,False,False,publishing/translations
567,304,Johns PLC,Distributed high-level open architecture,6800,14865,successful,244,US,USD,1604206800,1623474000,False,False,music/rock
202,509,Mcknight-Freeman,Upgradable scalable methodology,8300,6543,canceled,82,US,USD,1597294800,1619067600,False,False,food/food trucks
807,906,Walker-Taylor,Automated uniform concept,700,1848,successful,43,US,USD,1621918800,1631336400,False,True,theater/plays
885,749,Lynch Ltd,Virtual analyzing collaboration,1800,2129,successful,52,US,USD,1591938000,1619758800,False,False,theater/plays
306,2547,"Rush, Reed and Hall",Enterprise-wide 3rdgeneration knowledge user,6500,514,failed,7,US,USD,1628744400,1637215200,False,True,theater/plays

In [23]:
contact_info_df.sample(n=10)

                                                                                           contact_info
35            {"contact_id": 4994, "name": "Stewart Hunt", "email": "stewart.hunt@anderson-vargas.biz"}
296  {"contact_id": 4213, "name": "Olivier Petrucelli", "email": "olivier.petrucelli@letta-raurica.eu"}
226       {"contact_id": 1615, "name": "Giancarlo Heydrich", "email": "giancarlo.heydrich@hotmail.com"}
333           {"contact_id": 2010, "name": "Judith Butte", "email": "judith.butte@fischer-vaughn.info"}
13                    {"contact_id": 5602, "name": "Lotti Morris", "email": "lotti.morris@yahoo.co.uk"}
687          {"contact_id": 2881, "name": "Ansaldo Marks", "email": "ansaldo.marks@patel-odonnell.com"}
681                  {"contact_id": 1495, "name": "Richard Andre", "email": "richard.andre@porras.org"}
104                     {"contact_id": 3006, "name": "Abril Lowery", "email": "abril.lowery@novak.net"}
544             {"contact_id": 3815, "name": "Leone Richardson", "email": "leone.richardson@yahoo.com"}
845                     {"contact_id": 2116, "name": "Beate Morgan", "email": "beate.morgan@gmail.com"}

In [24]:
#No null values yet
#Get a summary of each DataFrame
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [25]:
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [26]:
#Confirmed.  No need to drop null values

In [29]:
#Investigate unique values of category/subcategory column
crowdfunding_info_df['category & sub-category'].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [30]:
#Split the column into "category" and "subcategory" columns with str.split
crowdfunding_info_df[["category", "subcategory"]]=crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)

crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [31]:
#to create IDs find out the number of unique values for each new column
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

9
24

In [32]:
#Create lists for category and subcategory to prepare DataFrames
categories=crowdfunding_info_df["category"].unique()
subcategories=crowdfunding_info_df["subcategory"].unique()

print(categories)
print ()  #to create space
print (subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [33]:
import numpy as np

In [36]:
#Create arrays to assign to each new list with a range to match the numbers
#The upper bound is not included
category_ids=np.arange(1,10)
subcategory_ids=np.arange(1,25)
print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [37]:
#Use list comprehension to assign cat0 and scat0 ids
cat_ids=["cat0"+str(cat_id) for cat_id in category_ids]

scat_ids=["scat0"+str(scat_id) for scat_id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [39]:
crowdfunding_info_df.columns

Index(['cf_id', 'company_name', 'blurb', 'goal', 'pledged', 'outcome',
       'backers_count', 'country', 'currency', 'launched_at', 'deadline',
       'staff_pick', 'spotlight', 'category & sub-category', 'category',
       'subcategory'],
      dtype='object')

In [41]:
#Time to create the category and subcategory DataFrames with needed columns
category_df=pd.DataFrame({
    "category_id":cat_ids,
    "category":categories
})

subcategory_df=pd.DataFrame({
    "subcategory_id": scat_ids,
    "subcategory":subcategories
})

In [42]:
category_df.head()

  category_id      category
0       cat01          food
1       cat02         music
2       cat03    technology
3       cat04       theater
4       cat05  film & video

In [43]:
subcategory_df.head()

  subcategory_id  subcategory
0         scat01  food trucks
1         scat02         rock
2         scat03          web
3         scat04        plays
4         scat05  documentary

In [45]:
#export into CSV files without the index (because we have the ids)
category_df.to_csv("category.csv", index=False)
subcategory_df.to_csv("subcategory.csv", index=False)